<!-- partial: header -->
<div class="header">
    <div id="header-title" class="header-title">
        <p> Go Forum </p>
    </div>
    <div id="login-field" class="login">
        <table>
            <tbody>
            <tr>
                <form class="login form">
                    <td>Username:</td>
                    <td><input type="text" value="username" name="username" id="login-username"/></td>
                    <td>Password:</td>
                    <td><input type="password" value="password" name="password" id="login-password"/></td>
                    <td><input type="submit" value="Submit" id="login-submit"/></td>
                    <td><input type="button" value="Register" id="register-click"/></td>
                    <td><input type="checkbox" value="remember" name="remember" id="login-remember"/>Remember Login</td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>